.mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.mat-card-title {
  margin-top: 5px;
}

.mat-card-subtitle {
  padding-top: 5px;
}

.message-box {
  flex-grow: 1;
}

.form {
  margin-top: 10px;
}
