<h2 mat-dialog-title>创建房间</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="createRoomForm" (keyup.enter)="submit()" class="create-room-form">
    <mat-form-field hintLabel="2 ~ 25 个任意字符，前后不含空格">
      <input matInput placeholder="新昵称" formControlName="name" cdkFocusInitial>
    </mat-form-field>
    <mat-form-field hintLabel="最多 200 个任意字符">
      <textarea matInput placeholder="房间介绍" formControlName="introduction" rows="4" cdkFocusInitial></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <div class="spinner-btn">
    <div class="spinner" *ngIf="loading">
      <mat-spinner diameter="20"></mat-spinner>
    </div>
    <button mat-flat-button color="primary" class="rename-btn" (click)="submit()" [disabled]="loading">确定</button>
  </div>
</mat-dialog-actions>